<div>
    <!-- <div class="thumbnail user-inf" ng-repeat="user in findedUsers"> -->
    <h3 style="text-align: center">Найдите себе друзей</h3>
    <div class="thumbnail user-inf" ng-repeat="user in [0,1,2]">
        <div class="caption">
            <div class="btn-group-vertical pull-right">
                <button class="btn btn-default">
                    Добавить в друзья
                </button>
            </div>
            <h3>Имя пользователя: {{user.name}}</h3>

            <p>login : {{user.login}}</p>
        </div>
    </div>
</div>



