<div>
    <div class="thumbnail user-inf" ng-repeat="friend in [0,1,2,3]">
        <div class="caption">
            <div class="btn-group-vertical pull-right">
                <button class="btn btn-default">
                    Удалить из друзей
                </button>
                <button class="btn btn-primary">
                    Назначить задание
                </button>
            </div>
            <h3>Имя Пользователя</h3>

            <p>login {{friend}}</p>
        </div>
    </div>
</div>