<div>
    <div class="thumbnail user-inf">
        <div class="caption">
            <h3>Имя Пользователя</h3>

            <p>login</p>
        </div>
    </div>

    <div class="panel-group" id="accordion">
        <div class="panel panel-default" ng-repeat="taskList in [0,1,2]">
            <div class="panel-heading" ng-click="collapseClc(taskList)">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion">
                        От {{taskList.author}}: {{taskList.title}}
                    </a>
                    <span class="badge badge-default pull-right">2/3</span>
                </h4>
            </div>
            <div id="{{taskList}}" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="thumbnail" ng-repeat="task in [0,1,2,3]">
                        <div class="caption">
                            <div class="btn-group-vertical pull-right">
                                <button class="btn btn-success" data-toggle="button" ng-click="doneClick()">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-danger" data-toggle="modal" data-target="#basicModal">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                                <div class="modal fade" id="basicModal" tabindex="-1" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button class="close" type="button" data-dismiss="modal">x</button>
                                                <h4 class="modal-title" id="myModalLabel">Отмена задания</h4>
                                            </div>
                                            <div class="modal-body">
                                                <h3>Вы точно хотите отменить задание?</h3>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-success" type="button" >Да</button>
                                                <button class="btn btn-danger" type="button" data-dismiss="modal">Отмена</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3>Заголовок: {{task.title}}</h3>

                            <p>Описание: {{task.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>